.title-primary,
.title-secondary,
.title-tertiary {
  --color: #{$clr-txt-primary};

  color: var(--color);
  font-weight: $f-weight-title;

  &--white {
    --color: #{$clr-txt-secondary};
  }

  &--red {
    --color: #{$clr-txt-tertiary};
  }
}

.title-primary,
.title-secondary {
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}

.title-primary {
  --f-size: #{$f-title-max};

  font-size: var(--f-size);
  line-height: $f-lineheight-xs;

  @include breakpoint(max, tablet-lg) {
    --f-size: #{$f-title-lg};
    line-height: $f-lineheight-xxs;
  }

  @include breakpoint(max, tablet-min) {
    --f-size: #{$f-title-md + 0.6};
  }

  @include breakpoint(max, phone-lg) {
    --f-size: #{$f-title-md};
  }

  @include breakpoint(max, phone-xs) {
    --f-size: #{$f-title-sm - 0.5};
  }

  @include breakpoint-landscape(phone) {
    --f-size: #{$f-title-md};
  }
}

.title-secondary {
  --f-size: #{$f-title-lg};

  font-size: var(--f-size);
  line-height: $f-lineheight-sm;

  @include breakpoint(max, tablet-lg) {
    --f-size: #{$f-title-sm};
  }
}

.title-tertiary {
  --f-size: #{$f-title-xs};

  font-size: var(--f-size);
  line-height: $f-lineheight-xl;
  text-transform: capitalize;

  @include breakpoint(max, tablet-lg) {
    --f-size: #{$f-title-min};
  }
}

.paragraph,
.link {
  --f-size: #{$f-txt-max};
  --color: #{$clr-txt-primary};

  color: var(--color);
  font-size: var(--f-size);
  font-weight: $f-weight-txt;

  @include breakpoint(max, tablet-lg) {
    --f-size: #{$f-txt-md};
  }

  @include breakpoint(max, phone-xs) {
    --f-size: #{$f-txt-min};
  }

  @include breakpoint-landscape(phone) {
    --f-size: #{$f-txt-md};
  }

  &--white {
    --color: #{$clr-txt-secondary};
  }

  &--red {
    --color: #{$clr-txt-tertiary};

    @include hover {
      --color: #{$clr-primary-light};
    }
  }
}

.paragraph {
  line-height: $f-lineheight-max;

  @include breakpoint(max, tablet-lg) {
    line-height: $f-lineheight-xl;
  }

  @include breakpoint(max, phone-xs) {
    line-height: $f-lineheight-md;
  }
}

.link {
  cursor: pointer;
  transition: $pointer;
  line-height: $f-lineheight-xxs;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: $f-letterspacing-xs;

  &:focus-visible {
    outline: none;
  }

  &--bold {
    font-weight: $f-weight-txt * 2;
  }

  &--border {
    --color-border: var(--color);

    border-bottom: $border-size-sm solid var(--color-border);
    padding-bottom: 0.65em;
  }
}
