$f-size-base: 1rem !default;

$f-size-max: $f-size-base * 7;
$f-size-xxl: $f-size-base * 5.6;
$f-size-xl: $f-size-base * 4;
$f-size-lg: $f-size-base * 3.2;
$f-size-md: $f-size-base * 2;
$f-size-sm: $f-size-base * 1.8;
$f-size-xs: $f-size-base * 1.6;
$f-size-xxs: $f-size-base * 1.5;
$f-size-min: $f-size-base * 1;

$f-weight-9: 900;
$f-weight-8: 800;
$f-weight-7: 700;
$f-weight-6: 600;
$f-weight-5: 500;
$f-weight-4: 400;
$f-weight-3: 300;
$f-weight-2: 200;
$f-weight-1: 100;

$f-letterspacing-max: 1.25em;
$f-letterspacing-xxl: 1em;
$f-letterspacing-xl: 0.75em;
$f-letterspacing-lg: 0.5em;
$f-letterspacing-md: 0.15em;
$f-letterspacing-sm: 0.075em;
$f-letterspacing-xs: 0.05em;
$f-letterspacing-xxs: 0.025em;
$f-letterspacing-min: -0.05em;

$f-lineheight-max: 2;
$f-lineheight-xxl: 1.75;
$f-lineheight-xl: 1.6;
$f-lineheight-lg: 1.5;
$f-lineheight-md: 1.375;
$f-lineheight-sm: 1.25;
$f-lineheight-xs: 1.1;
$f-lineheight-xxs: 1;
$f-lineheight-min: 0.95;
