@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes scale-up {
  to {
    transform: scale(1.25);
  }
}
@keyframes scale-down {
  to {
    transform: scale(0.75);
  }
}
@keyframes slide-out-up {
  to {
    transform: translateY(-100%);
  }
}
@keyframes slide-out-down {
  to {
    transform: translateY(100%);
  }
}
@keyframes slide-out-right {
  to {
    transform: translateX(100%);
  }
}
@keyframes slide-out-left {
  to {
    transform: translateX(-100%);
  }
}
@keyframes slide-in-up {
  from {
    transform: translateY(100%);
  }
}
@keyframes slide-in-down {
  from {
    transform: translateY(-100%);
  }
}
@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
  }
}
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
  }
}
@keyframes shake-x {
  0%, 100% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateX(5%);
  }
  60% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(5%);
  }
}
@keyframes shake-y {
  0%, 100% {
    transform: translateY(0%);
  }
  20% {
    transform: translateY(-5%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(5%);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes ping {
  90%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes float {
  50% {
    transform: translateY(-25%);
  }
}
@keyframes bounce {
  25% {
    transform: translateY(-20%);
  }
  40% {
    transform: translateY(-3%);
  }
  0%, 60%, 100% {
    transform: translateY(0);
  }
}
@keyframes pulse {
  50% {
    transform: scale(0.9, 0.9);
  }
}
@keyframes reveal-top {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes reveal-left {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes reveal-bottom {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes reveal-right {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
[data-aos=reveal-left] {
  clip-path: inset(0 100% 0 0);
  opacity: 0;
  transition-property: transform, opacity, clip-path;
}
[data-aos=reveal-left].aos-animate {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

[data-aos=reveal-left-wave] {
  clip-path: inset(0 100% 0 0);
  opacity: 0;
  transition-property: transform, opacity, clip-path;
}
[data-aos=reveal-left-wave].aos-animate {
  opacity: 1;
  clip-path: inset(0 -8% 0 0);
}

[data-aos=reveal-bottom] {
  clip-path: inset(0 0 100% 0);
  opacity: 0;
  transition-property: transform, opacity, clip-path;
}
[data-aos=reveal-bottom].aos-animate {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

[data-aos=reveal-right] {
  clip-path: inset(0 0 0 100%);
  opacity: 0;
  transition-property: transform, opacity, clip-path;
}
[data-aos=reveal-right].aos-animate {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

[data-aos=reveal-right-features] {
  clip-path: inset(0 0 0 100%);
  opacity: 0;
  transition-property: transform, opacity, clip-path;
}
[data-aos=reveal-right-features].aos-animate {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}
@media (max-width: 600px) {
  [data-aos=reveal-right-features] {
    clip-path: unset !important;
    opacity: 1 !important;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
}
button:focus {
  outline: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Commissioner", system-ui, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: black;
  background-color: white;
}

svg {
  width: 100%;
  height: 100%;
  stroke: unset;
}

.app-container {
  max-width: 1920px;
  margin-inline: auto;
}

.title-primary,
.title-secondary,
.title-tertiary {
  --color: black;
  color: var(--color);
  font-weight: 800;
}
.title-primary--white,
.title-secondary--white,
.title-tertiary--white {
  --color: white;
}
.title-primary--red,
.title-secondary--red,
.title-tertiary--red {
  --color: hsl(0deg, 93%, 64%);
}

.title-primary,
.title-secondary {
  text-transform: lowercase;
}
.title-primary::first-letter,
.title-secondary::first-letter {
  text-transform: uppercase;
}

.title-primary {
  --f-size: 7rem;
  font-size: var(--f-size);
  line-height: 1.1;
}
@media (max-width: 960px) {
  .title-primary {
    --f-size: 5.6rem;
    line-height: 1;
  }
}
@media (max-width: 600px) {
  .title-primary {
    --f-size: 4.6rem;
  }
}
@media (max-width: 414px) {
  .title-primary {
    --f-size: 4rem;
  }
}
@media (max-width: 330px) {
  .title-primary {
    --f-size: 2.7rem;
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .title-primary {
    --f-size: 4rem;
  }
}

.title-secondary {
  --f-size: 5.6rem;
  font-size: var(--f-size);
  line-height: 1.25;
}
@media (max-width: 960px) {
  .title-secondary {
    --f-size: 3.2rem;
  }
}

.title-tertiary {
  --f-size: 2rem;
  font-size: var(--f-size);
  line-height: 1.6;
  text-transform: capitalize;
}
@media (max-width: 960px) {
  .title-tertiary {
    --f-size: 1.5rem;
  }
}

.paragraph,
.link {
  --f-size: 1.8rem;
  --color: black;
  color: var(--color);
  font-size: var(--f-size);
  font-weight: 400;
}
@media (max-width: 960px) {
  .paragraph,
.link {
    --f-size: 1.6rem;
  }
}
@media (max-width: 330px) {
  .paragraph,
.link {
    --f-size: 1.5rem;
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .paragraph,
.link {
    --f-size: 1.6rem;
  }
}
.paragraph--white,
.link--white {
  --color: white;
}
.paragraph--red,
.link--red {
  --color: hsl(0deg, 93%, 64%);
}
@media not all and (pointer: coarse) {
  .paragraph--red:hover, .paragraph--red:focus-visible,
.link--red:hover,
.link--red:focus-visible {
    --color: hsl(0deg, 100%, 79%);
  }
}

.paragraph {
  line-height: 2;
}
@media (max-width: 960px) {
  .paragraph {
    line-height: 1.6;
  }
}
@media (max-width: 330px) {
  .paragraph {
    line-height: 1.375;
  }
}

.link {
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.25, 0, 0.5, 1);
  line-height: 1;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.05em;
}
.link:focus-visible {
  outline: none;
}
.link--bold {
  font-weight: 800;
}
.link--border {
  --color-border: var(--color);
  border-bottom: 2px solid var(--color-border);
  padding-bottom: 0.65em;
}

.btn {
  --color: white;
  --color-bg: black;
  --color-bg-hover: rgba(0, 0, 0, 0.6);
  --f-size: 1.8rem;
  font-size: var(--f-size);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  padding: 1.25em 2em;
  width: max-content;
  transition: all 0.25s cubic-bezier(0.25, 0, 0.5, 1);
  color: var(--color);
  background-color: var(--color-bg);
}
@media not all and (pointer: coarse) {
  .btn:hover, .btn:focus-visible {
    background-color: var(--color-bg-hover);
  }
}
@media (max-width: 960px) {
  .btn {
    --f-size: 1.6rem;
  }
}
@media (max-width: 330px) {
  .btn {
    --f-size: 1.3rem;
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .btn {
    --f-size: 1.5rem;
  }
}
.btn--primary {
  --color-bg: hsl(0deg, 93%, 64%);
  --color-bg-hover: hsl(0deg, 100%, 79%);
}
.btn--secondary {
  --color-bg: hsl(240deg, 14%, 11%);
  --color-bg-hover: hsl(240deg, 12%, 30%);
  --f-size: 1.6rem;
}

.btn-arrow svg g {
  --color: hsl(0deg, 93%, 64%);
  stroke: var(--color);
  transition: all 0.25s cubic-bezier(0.25, 0, 0.5, 1);
}
.btn-arrow--js-disabled svg g {
  stroke: rgba(255, 255, 255, 0.3) !important;
}
@media not all and (pointer: coarse) {
  .btn-arrow:hover svg g, .btn-arrow:focus-visible svg g {
    --color: hsl(0deg, 100%, 79%);
  }
}

.btn-hamburger {
  position: relative;
  transition: background-color 0.25s;
  width: 2.4rem;
  height: 2rem;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
@media (max-width: 600px) {
  .btn-hamburger {
    width: 2.3rem;
    height: 1.9rem;
  }
}
@media not all and (pointer: coarse) {
  .btn-hamburger:hover .btn-hamburger__line, .btn-hamburger:focus-visible .btn-hamburger__line {
    --color: rgba(255, 255, 255, 0.8);
  }
  @media (max-width: 600px) {
    .btn-hamburger:hover .btn-hamburger__line, .btn-hamburger:focus-visible .btn-hamburger__line {
      --color: hsl(240deg, 12%, 30%);
    }
  }
}
.btn-hamburger__line {
  --color: white;
  position: absolute;
  transition: 0.25s;
  display: block;
  background-color: var(--color);
  width: 100%;
  height: 2px;
}
@media (max-width: 600px) {
  .btn-hamburger__line {
    --color: hsl(240deg, 14%, 11%);
  }
}
.btn-hamburger__line:first-of-type {
  margin-bottom: 16px;
}
.btn-hamburger__line:last-of-type {
  margin-top: 16px;
}
.btn-hamburger__line .btn-hamburger--js-active .btn-hamburger__line:nth-of-type(1), .btn-hamburger__line .btn-hamburger--js-active .btn-hamburger__line:nth-of-type(3) {
  margin: 0 !important;
  width: 2.3rem;
}
.btn-hamburger__line .btn-hamburger--js-active .btn-hamburger__line:first-of-type {
  transform: rotate(135deg);
}
.btn-hamburger__line .btn-hamburger--js-active .btn-hamburger__line:nth-of-type(2) {
  opacity: 0;
}
.btn-hamburger__line .btn-hamburger--js-active .btn-hamburger__line:last-of-type {
  transform: rotate(-135deg);
}

.logo {
  align-items: center;
  display: flex;
}
.logo a {
  padding: 0;
  border: none;
}

.about {
  --color-bg: hsl(240deg, 14%, 11%);
  background-color: var(--color-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image content";
}
@media (max-width: 600px) {
  .about {
    grid-template-rows: 30vh auto;
    grid-template-areas: "image image image" "content content content";
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .about {
    grid-template-rows: unset;
    grid-template-areas: "image content";
  }
}
.about__background-image {
  grid-area: image;
  width: 100%;
  height: 100%;
  background-image: url("../../images/desktop/image-strategic.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about__content {
  position: relative;
  background-color: var(--color-bg);
  padding-inline: max(2rem, 8vw);
  padding-top: max(2rem * 2, 8vw * 2);
  padding-bottom: max(2rem * 3, 8vw * 3);
  grid-area: content;
  display: grid;
  justify-items: start;
  gap: 4rem;
}
@media (max-width: 600px) {
  .about__content {
    padding-bottom: max(2rem * 2, 8vw * 2);
  }
}
.about__content::before {
  --width: 7vw;
  --height: 6.1rem;
  content: "";
  position: absolute;
  top: 17vw;
  left: -7%;
  background-image: url("../../../images/desktop/bg-pattern-wavy-red.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--width);
  height: var(--height);
  background-size: var(--width);
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .about__content::before {
    --width: 7vw;
    position: absolute;
    top: 17vw;
    left: -7%;
  }
}
@media (max-width: 600px) {
  .about__content::before {
    --width: 18vw;
    position: absolute;
    top: -7%;
    left: 8vw;
  }
}
.about__content .about__description {
  max-width: 45ch;
}

.features {
  --color-bg: white;
  background-color: var(--color-bg);
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "title content content";
}
@media (max-width: 600px) {
  .features {
    --color-bg: hsl(0deg, 93%, 64%);
    padding-block: max(2rem * 2, 8vw * 2);
    gap: 15rem;
    grid-template-areas: "title title title" "content content content";
  }
}
.features__title-wrapper {
  grid-area: title;
  grid-column: 1/3;
  z-index: 1;
  padding-left: max(2rem, 8vw);
  align-items: center;
  display: flex;
  transform: translateY(-15rem);
}
@media (max-width: 600px) {
  .features__title-wrapper {
    padding-inline: max(2rem, 8vw);
    grid-column: 1/-1;
    transform: translateY(0);
  }
}
@media (max-width: 600px) {
  .features__title-wrapper .features__title {
    --color: white;
  }
}
.features__content {
  --color-bg: hsl(0deg, 93%, 64%);
  grid-area: content;
  background-color: var(--color-bg);
  margin-top: -15%;
}
.features__content .features__list {
  list-style-type: none;
  counter-reset: li;
  padding-block: max(2rem * 1.5, 8vw * 1.5);
  padding-left: max(2rem * 3, 8vw * 3);
  padding-right: max(2rem, 8vw);
  display: grid;
  gap: 15rem;
}
@media (max-width: 600px) {
  .features__content .features__list {
    padding-block: 0;
    padding-inline: max(2rem, 8vw);
    gap: 10rem;
  }
}
.features__content .features__list-item {
  position: relative;
}
.features__content .features__list-item .features__list-title {
  margin-bottom: 1.5rem;
}
.features__content .features__list-item .features__list-paragraph {
  max-width: 45ch;
}
.features__content .features__list-item::before {
  --color: rgba(255, 255, 255, 0.2);
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
  color: var(--color);
  font-weight: 800;
  font-size: 8rem;
  position: absolute;
  top: -6rem;
  left: -6rem;
}
@media (max-width: 600px) {
  .features__content .features__list-item::before {
    position: absolute;
    top: -6rem;
    left: 0;
  }
}

.footer {
  position: relative;
  padding: max(2rem, 8vw);
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  row-gap: 4rem;
  grid-template-areas: "title btn" "paragraph paragraph" "links links";
}
@media (max-width: 720px) {
  .footer {
    padding-block: max(2rem * 2, 8vw * 2);
    grid-template-areas: "title title" "btn btn" "paragraph paragraph" "links links";
  }
}
.footer::before {
  --width: 7vw;
  --height: 6.1rem;
  content: "";
  position: absolute;
  top: 25%;
  left: -4%;
  background-image: url("../../../images/desktop/bg-pattern-wavy-red.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--width);
  height: var(--height);
  background-size: var(--width);
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .footer::before {
    --width: 7vw;
    position: absolute;
    top: 25%;
    left: -4%;
  }
}
@media (max-width: 720px) {
  .footer::before {
    display: none;
  }
}
.footer__title {
  grid-area: title;
}
.footer__btn {
  grid-area: btn;
}
.footer__paragraph {
  grid-area: paragraph;
}
@media (max-width: 720px) {
  .footer__paragraph {
    max-width: 25ch;
  }
}
.footer__links-list {
  grid-area: links;
  flex-direction: row;
  display: flex;
}
@supports (gap: 2rem) {
  .footer__links-list {
    gap: 2rem;
  }
}
.footer__links-list .footer__list-item:nth-of-type(2) {
  margin-left: 0.5rem;
}
.footer__links-list .footer__list-item:nth-of-type(3) {
  margin-left: 1rem;
}
.footer__links-list .footer__link-icon {
  transition: all 0.25s cubic-bezier(0.25, 0, 0.5, 1);
}
@media not all and (pointer: coarse) {
  .footer__links-list .footer__link-icon:hover, .footer__links-list .footer__link-icon:focus-visible {
    fill: rgba(0, 0, 0, 0.6);
  }
}

.hero {
  min-height: 90vh;
  padding-left: max(2rem, 8vw);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "content image image";
}
@media (max-width: 600px) {
  .hero {
    padding: 0;
    grid-template-rows: 30vh auto;
    grid-template-areas: "image image image" "content content content";
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .hero {
    grid-template-rows: unset;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "content image image";
  }
}
.hero__background-image {
  grid-area: image;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.6), transparent), url("../../images/desktop/image-hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 600px) {
  .hero__background-image {
    background-image: url("../../images/desktop/image-hero.jpg");
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .hero__background-image {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.8), transparent), url("../../images/desktop/image-hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero__content {
  max-width: 55ch;
  z-index: 1;
  grid-area: content;
  grid-column: 1/3;
  display: grid;
  align-content: center;
  gap: 5rem;
  justify-items: start;
}
@media (max-width: 960px) {
  .hero__content {
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  .hero__content {
    grid-column: 1/-1;
    padding-inline: max(2rem, 8vw);
  }
}
@media (max-width: 330px) {
  .hero__content {
    gap: 2rem;
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .hero__content {
    padding-block: 15vh;
  }
}
.hero__content .hero__description {
  max-width: 45ch;
}

.navbar {
  min-height: 13vh;
  padding-inline: max(2rem, 8vw);
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: linear-gradient(to right, white 50%, hsl(0deg, 93%, 64%) 50%);
}
@media (max-width: 960px) {
  .navbar {
    grid-template-columns: 40% 60%;
    background: linear-gradient(to right, white 40%, hsl(0deg, 93%, 64%) 40%);
  }
}
@media (max-width: 600px) {
  .navbar {
    min-height: 10vh;
    grid-template-columns: 70% 30%;
    background: white;
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .navbar {
    min-height: 20vh;
  }
}
@media (max-width: 800px) {
  .navbar__main {
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .navbar__main {
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
}
.navbar__dropmenu {
  --color-bg: hsl(240deg, 14%, 11%);
  display: none;
  opacity: 0;
  background-color: var(--color-bg);
  padding: 3rem;
  transition: 0.5s;
  position: absolute;
  top: 50%;
}
@media (max-width: 800px) {
  .navbar__dropmenu {
    display: block;
  }
}
.navbar__dropmenu--js-active {
  top: 100%;
  opacity: 1;
}
.navbar__dropmenu .btn--secondary {
  --color-bg: hsl(0deg, 93%, 64%);
  --color-bg-hover: hsl(0deg, 100%, 79%);
}
.navbar__list {
  min-height: 100%;
  align-items: center;
  display: flex;
}
@media (max-width: 800px) {
  .navbar__list {
    display: none;
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .navbar__list {
    display: none;
  }
}
.navbar__list .navbar__dropmenu .navbar__list {
  display: block;
  flex-direction: column;
  align-items: center;
  align-items: center;
  display: flex;
}
@supports (gap: 2rem) {
  .navbar__list .navbar__dropmenu .navbar__list {
    gap: 2rem;
  }
}
.navbar__list-item {
  margin-left: auto;
}
.navbar__list-item .navbar__dropmenu .navbar__list-item {
  margin: 0;
}
.navbar__list-item .link, .navbar__list-item .btn--secondary {
  --f-size: 1.6rem;
}
@media (max-width: 960px) {
  .navbar__list-item .link, .navbar__list-item .btn--secondary {
    --f-size: 1.5rem;
  }
}
.navbar__list-item .link {
  transition: none;
}
@media not all and (pointer: coarse) {
  .navbar__list-item .link:hover, .navbar__list-item .link:focus-visible {
    padding-bottom: 0.45em;
    border-bottom: 2px solid var(--color);
  }
}
.navbar .btn-hamburger {
  display: none;
  z-index: 2;
}
@media (max-width: 800px) {
  .navbar .btn-hamburger {
    display: flex;
  }
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .navbar .btn-hamburger {
    display: flex;
  }
}

.projects {
  position: relative;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "title article article";
}
@media (max-width: 600px) {
  .projects {
    grid-template-areas: "article article article" "title title title";
  }
}
.projects__title-wrapper {
  --color-bg: hsl(240deg, 14%, 11%);
  grid-area: title;
  z-index: 2;
  padding: max(2rem, 8vw);
  width: 150%;
  background-color: var(--color-bg);
  position: absolute;
  top: 0;
}
@media (max-width: 600px) {
  .projects__title-wrapper {
    position: static;
    padding-block: max(2rem * 2, 8vw * 2);
    width: 100%;
  }
}
.projects__title-wrapper::before {
  --width: 7vw;
  --height: 6.1rem;
  content: "";
  position: absolute;
  top: 25%;
  right: -7%;
  background-image: url("../../../images/desktop/bg-pattern-wavy-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: var(--width);
  height: var(--height);
  background-size: var(--width);
}
@media (orientation: landscape) and (min-resolution: 2x) and (max-width: 926px) and (max-height: 430px) {
  .projects__title-wrapper::before {
    --width: 7vw;
    position: absolute;
    top: 25%;
    right: -7%;
  }
}
@media (max-width: 600px) {
  .projects__title-wrapper::before {
    display: none;
  }
}
.projects__title-wrapper .projects__title {
  margin-bottom: 7.5rem;
  max-width: 13ch;
}
@media (max-width: 960px) {
  .projects__title-wrapper .projects__title {
    margin-bottom: 5rem;
  }
}
.projects__title-wrapper .projects__btn-arrow:first-of-type {
  margin-right: 2rem;
}
.projects__article {
  grid-area: article;
}
.projects__article .projects__article-container {
  overflow: hidden;
  text-decoration: none;
  padding: 0;
  border: none;
  position: relative;
  display: grid;
  grid-template-areas: "container";
}
@media not all and (pointer: coarse) {
  .projects__article .projects__article-container:hover .projects__article-title, .projects__article .projects__article-container:hover .projects__article-year, .projects__article .projects__article-container:focus-visible .projects__article-title, .projects__article .projects__article-container:focus-visible .projects__article-year {
    --color: hsl(0deg, 100%, 79%);
  }
  .projects__article .projects__article-container:hover .projects__article-image, .projects__article .projects__article-container:focus-visible .projects__article-image {
    transform: scale(1.1);
  }
}
.projects__article .projects__article-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 50%);
}
.projects__article .projects__article-container .projects__article-content, .projects__article .projects__article-container .projects__article-image {
  grid-area: container;
}
.projects__article .projects__article-container .projects__article-content {
  z-index: 1;
  padding: max(2rem, 8vw);
  display: grid;
  place-content: end;
  place-items: end;
}
.projects__article .projects__article-container .projects__article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1.25;
  max-height: 80rem;
  transition: all 0.25s cubic-bezier(0.25, 0, 0.5, 1);
}
@media (max-width: 960px) {
  .projects__article .projects__article-container .projects__article-image {
    aspect-ratio: 1;
  }
}

/*# sourceMappingURL=main.css.map */
