.features {
  $this: &;
  --color-bg: #{$clr-background-primary};

  background-color: var(--color-bg);
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'title content content';

  @include breakpoint(max, tablet-min) {
    --color-bg: #{$clr-background-tertiary};

    padding-block: multiplier($body-padding, 2);
    gap: $size-xxxl;
    grid-template-areas:
      'title title title'
      'content content content';
  }

  &__title-wrapper {
    grid-area: title;
    grid-column: 1 / 3;
    z-index: 1;
    padding-left: $body-padding;
    @include flex(align-center);
    @include pos-Y(-15rem);

    @include breakpoint(max, tablet-min) {
      padding-inline: $body-padding;
      grid-column: 1 / -1;
      @include pos-Y(0);
    }

    & #{$this}__title {
      @include breakpoint(max, tablet-min) {
        --color: #{$clr-white};
      }
    }
  }

  &__content {
    --color-bg: #{$clr-background-tertiary};
    grid-area: content;
    background-color: var(--color-bg);
    margin-top: -15%;

    & #{$this}__list {
      list-style-type: none;
      counter-reset: li;
      padding-block: multiplier($body-padding, 1.5);
      padding-left: multiplier($body-padding, 3);
      padding-right: $body-padding;
      display: grid;
      gap: $size-xxxl;

      @include breakpoint(max, tablet-min) {
        padding-block: 0;
        padding-inline: $body-padding;
        gap: $size-xxl;
      }
    }

    & #{$this}__list-item {
      position: relative;

      & #{$this}__list-title {
        margin-bottom: $size-xxxs;
      }

      & #{$this}__list-paragraph {
        max-width: $size-content-md;
      }

      @include before {
        --color: #{clr-opacity($clr-white, 2)};

        counter-increment: li;
        content: counter(li, decimal-leading-zero);
        color: var(--color);
        font-weight: $f-weight-title;
        font-size: $f-title-max + 1rem;
        @include absolute(top-left, -6rem);

        @include breakpoint(max, tablet-min) {
          @include absolute(top-left, -6rem, 0);
        }
      }
    }
  }
}
