.navbar {
  $this: &;

  min-height: 13vh;
  padding-inline: $body-padding;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include linear-gradient(
    $direction: right,
    $colors: (
      $clr-background-primary 50%,
    )
    (
      $clr-background-tertiary 50%,
    )
  );

  @include breakpoint(max, tablet-lg) {
    grid-template-columns: 40% 60%;

    @include linear-gradient(
      $direction: right,
      $colors: (
        $clr-background-primary 40%,
      )
      (
        $clr-background-tertiary 40%,
      )
    );
  }

  @include breakpoint(max, tablet-min) {
    min-height: 10vh;
    grid-template-columns: 70% 30%;
    background: $clr-background-primary;
  }

  @include breakpoint-landscape(phone) {
    min-height: 20vh;
  }

  &__main {
    @include breakpoint(max, tablet-md) {
      @include flex(align-center, justify-end);
    }

    @include breakpoint-landscape(phone) {
      @include flex(align-center, justify-end);
    }
  }

  &__dropmenu {
    --color-bg: #{$clr-background-secondary};

    display: none;
    opacity: 0;
    background-color: var(--color-bg);
    padding: $size-sm;
    transition: 0.5s;
    @include absolute(top, 50%);

    @include breakpoint(max, tablet-md) {
      display: block;
    }

    &--js-active {
      top: 100%;
      opacity: 1;
    }

    & .btn--secondary {
      --color-bg: #{$clr-primary};
      --color-bg-hover: #{$clr-primary-light};
    }
  }

  &__list {
    min-height: 100%;
    @include flex(align-center);

    @include breakpoint(max, tablet-md) {
      display: none;
    }

    @include breakpoint-landscape(phone) {
      display: none;
    }

    & #{$this}__dropmenu & {
      display: block;
      @include flex(column, align-center, $size-xxs);
    }
  }

  &__list-item {
    margin-left: auto;

    & #{$this}__dropmenu & {
      margin: 0;
    }

    & .link,
    & .btn--secondary {
      --f-size: #{$f-txt-md};

      @include breakpoint(max, tablet-lg) {
        --f-size: #{$f-txt-min};
      }
    }

    & .link {
      transition: none;

      @include hover {
        padding-bottom: 0.45em;
        border-bottom: $border-size-sm solid var(--color);
      }
    }
  }

  & .btn-hamburger {
    display: none;
    z-index: 2;

    @include breakpoint(max, tablet-md) {
      display: flex;
    }

    @include breakpoint-landscape(phone) {
      display: flex;
    }
  }
}
